@mixin section($pt: 94px, $pb: 94px, $accent: var(--main-bcg-color)) {
	margin: 0 auto;
	padding: $pt 0 $pb;
	background-color: $accent;
	text-align: center;
}

@mixin card-set($indent) {
	display: flex;
	flex-wrap: wrap;
	gap: var(--indent);
}

@mixin flex-basis($indent, $items) {
	flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
}
