.address__list {
	@extend %reset-list;
}
.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	@extend %reset-link;

	color: var(--footer-contacts-color);

	font-style: normal;
	line-height: calc(24 / 14);
	display: inline-block;

	transition: color var(--animation);
	&:hover,
	&:focus {
		color: var(--main-header-color);
	}
	.address__item:first-child & {
		color: var(--main-header-color);
	}
}
