.clients {
	@include section(94px, 94px, var(--main-bcg-color));
}
.clients__list {
	@extend %reset-list;
	display: flex;
	align-items: center;
	justify-content: center;

	gap: var(--indent);
}
.clients__link {
	@extend %reset-link;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 170px;
	height: 92px;
	border: 1px solid var(--icons-main-color);
	border-radius: 4px;

	transition: border-color var(--animation);
	&:hover,
	&:focus {
		border-color: var(--accent-color);
	}
}

.clients__icon {
	fill: var(--icons-main-color);
	transition: fill var(--animation);

	.clients__link:hover &,
	.clients__link:focus & {
		fill: var(--accent-color);
	}
}
