.hero {
	text-align: center;

	max-width: 1600px;

	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;

	background-position: center;
	background-size: cover;
	background-color: #c4c4c4;
	background-repeat: no-repeat;
	background-position: center;

	// // mobile devices
	// background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 	url(../images/hero/hero@1x_sm.jpg);
	// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	// 	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 		url(../images/hero/hero@2x_sm.jpg);
	// }
	// // tablet devices
	// @media screen and (min-width: 768px) {
	// 	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 		url(../images/hero/hero@1x_md.jpg);
	// 	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	// 		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 			url(../images/hero/hero@2x_md.jpg);
	// 	}
	// }
	// //  desktop devices
	// @media screen and (min-width: 1200px) {
	// 	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 		url(../images/hero/hero@1x_lg.jpg);
	// 	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	// 		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 			url(../images/hero/hero@2x_lg.jpg);
	// 	}
	// }

	// mobile devices
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero/hero@1x_sm.jpg");
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		-webkit-image-set(url("../images/hero/hero@1x_sm.webp") 1x);

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero@2x_sm.jpg");
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			-webkit-image-set(url("../images/hero/hero@2x_sm.webp") 2x);
	}
	// tablet devices
	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero@1x_md.jpg");
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			-webkit-image-set(url("../images/hero/hero@1x_md.webp") 1x);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/hero/hero@2x_md.jpg");
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				-webkit-image-set(url("../images/hero/hero@2x_md.webp") 2x);
		}
	}
	//  desktop devices
	@media screen and (min-width: 1200px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero@1x_lg.jpg");
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			-webkit-image-set(url("../images/hero/hero@1x_lg.webp") 1x);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/hero/hero@2x_lg.jpg");
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				-webkit-image-set(url("../images/hero/hero@2x_lg.webp") 2x);
		}
	}
}
.hero__title {
	max-width: 695px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	color: var(--main-header-color);

	text-transform: uppercase;

	font-weight: 900;
	font-size: 44px;
	line-height: calc(42 / 26);
	letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
	.hero__title {
		font-size: 44px;
		line-height: calc(60 / 44);
	}
}
