/* 				        */
/*	 form-subscribe		*/
/*				        */
.subscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
}
@media screen and (min-width: 1200px) {
	.subscribe {
		align-items: flex-start;
	}
}
.subscribe__header {
	margin-bottom: 20px;

	text-transform: uppercase;

	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;

	color: var(--main-header-color);
}
.subscribe__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	width: 100%;
}
@media screen and (min-width: 1200px) {
	.subscribe__wrap {
		flex-direction: row;
		gap: 12px;
	}
}
.subscribe__input {
	width: 100%;
	min-height: 50px;
	color: rgba(255, 255, 255, 0.6);
	background-color: var(--hero-bcg-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	padding-left: 16px;
	padding-right: 16px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
	transition: box-shadow var(--animation);
	&::placeholder {
		font-size: 16px;
		line-height: calc(20 / 16);

		color: rgba(255, 255, 255, 0.6);
	}
	&:focus-visible {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		outline: none;
	}
}
@media screen and (min-width: 480px) {
	.subscribe__input {
		width: 450px;
	}
}
@media screen and (min-width: 1200px) {
	.subscribe__input {
		width: 358px;
	}
}
