.socials__header {
	text-transform: uppercase;
	text-align: center;
	color: var(--main-header-color);
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
	.socials__header {
		text-align: start;
	}
}
.socials__list {
	@extend %reset-list;
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 10px;
}
.socials__link {
	@extend %reset-link;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	transition: background-color var(--animation);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
	&--dark-theme {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
.socials__icon {
	.socials__link:hover &,
	.socials__link:focus & {
		fill: white;
	}
	&--light-theme {
		fill: var(--icons-main-color);
		transition: fill var(--animation);
	}
	&--dark-theme {
		fill: white;
		transition: fill var(--animation);
	}
}

.mobile-socials__list {
	@extend %reset-list;
	display: flex;
	flex-wrap: wrap;
	margin-top: 64px;
}
.mobile-socials__item:not(:last-child) {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
	@extend %reset-link;
	color: var(--accent-color);
	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
	letter-spacing: 0.02em;
	padding-right: 10px;
	padding-left: 10px;

	@media screen and (max-width: 479px) {
		font-size: 14px;
		padding-right: 5px;
		padding-left: 5px;
	}
}
